body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
}

th, td {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse; 
    padding: 10px;
    border-spacing: 20px;
}
tr:nth-child(even),td:nth-child(even) {
    background-color: lightblue;
}

h1, h2, h3 {
    color: #333333;
}

.personal {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 25px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}

.personal h1{
    text-align: center;
}

.experience,.education,.skills,.references,.hobbies {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img.picture {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 77px;
    right: 18px;
    border: 2px;
    border-color: gray;
    border-style: solid;
    z-index: 1;
}

.about {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #51c4d3, #752f2f);
    z-index: -1;
}